html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  background-color: #1b2631;
  display: flex;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  width: 100%;
}

.logincont {
  margin: auto;
}

.login_button {
  width: 300px;
  height: 100px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f1c40f;
  background-color: #1b2631;
  font-size: 24px;
  color: #f1c40f;
  font-family: "Montserrat", sans-serif;
  transition: 0.4s;
}

.login_button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}

.login_button:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 20px);
  height: calc(100% + 20px);
}

.loginModal_clickOutSide {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 2;
}

.loginModalSpace {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.loginModal {
  width: 350px;
  height: 280px;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.loginModalInput {
  width: 320px;
  height: 20px;
}

.cycle {
  width: 100px;
  height: 100px;
  border: 3px solid #f1c40f;
  border-radius: 50%;
  margin: auto;
}

.loginModalSubmit {
  width: 200px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f1c40f;
  background-color: #1b2631;
  font-size: 24px;
  color: #f1c40f;
  font-family: "Montserrat", sans-serif;
  transition: 0.4s;
}

.loginModalSubmit:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}

.loginModalSubmit:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 20px);
  height: calc(100% + 20px);
}

.loginModalError {
  color: red;
}

header{
  display: flex;
  margin: 1px;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  color: #f1c40f;
  border-bottom: 2px solid #f1c40f;
}
#show_email{
  margin-left: 5px;
}
.modalLogOut{
  width: 80px;
  height: 50px;
  margin-right: 5px;
  text-decoration: none;
  display: flex;
  border: 2px solid #f1c40f;
  background-color: #1b2631;
  font-size: 12px;
  color: #f1c40f;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
}

.modalLogOut>p{
  margin: auto;
}
.modalLogOut:hover{
  color:red;
  border: 2px solid red;
}

.main_body{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cards{
  width: 100%;
}

.main__container{
  margin: auto;
  padding: 20px;
}
.card_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 100px 0px 100px;
}


.card_template{
  width: 300px;
  height: 250px;
  margin: 20px 20px 0px 0px;
  border: 4px dashed #f1c40f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1c40f;
}

.card_template:hover{
  border: 4px dashed lawngreen;
  color: lawngreen;
}

.card{
  width: 319px;
  margin: 20px 20px 0px 0px;
  height: 250px;
  border: 4px solid #f1c40f;
  display: flex;
  flex-direction: column;
  color: #f1c40f;
}
.card>h2{
  border-bottom: 4px solid #f1c40f;;
}

.card__title_container{
  width: 100%;
  display:flex;
  border-bottom: 4px solid #f1c40f;
  flex-direction: row;
  justify-content: space-between;
}

.card__button{
  width: 50px;
  height: 30px;
}

.createModal{
  width: 350px;
  height: 280px;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  position: absolute;
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createTitle{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.createDescription{
  width: 250px;
  height: 100px;
  resize: none;
}

.createButton{
  margin-top: 10px;
}

